<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ArchiveSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <ArchiveSystem.Properties.Settings>
      <setting name="DOC_Source" serializeAs="String">
        <value />
      </setting>
    </ArchiveSystem.Properties.Settings>
  </userSettings>
  <appSettings>


    <!--save place on local-->
    <add key="Path_Folder_Client_Temp" value="D:\New folder"/>
    
    
    <add key="FTP_Server_Ip" value="ftp://192.168.106.121:2020/" /> 
    <add key="FTP_Server_user" value="anas office" />
    <add key="FTP_Server_pass" value="2213" />
    
    <!--<add key="FTP_Server_Ip" value="ftp://192.168.106.113:2020/" />
    <add key="FTP_Server_user" value="mohammed" />
    <add key="FTP_Server_pass" value="Passw0rd" />-->
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="con" connectionString="Data Source=DESKTOP-F9FACE9\SQLEXPRESS;Initial Catalog=ArchiveSystem;Integrated Security=True" />
    <!--<add name="con" connectionString="Data Source=MOHAMMED;Initial Catalog=ArchiveSystem;Integrated Security=True" />-->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>